header,main,footer {
    max-width: 1300px;
    height: 100px;
    position: center;
    margin: auto
}
nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    color: #9e5705;
    text-decoration: none;
    font-family: arial;
}