header,main,footer {
    max-width: 1800px;
    height: 100px;
    position: center;
    margin: auto
}
nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    color: #9e5705;
    text-decoration: none;
    font-family: 'LexendEB';
    font-size: 24px;
}
@font-face {
    font-family: 'LexendEB';
    src: url(./asset/police/Lexend/Lexend-Bold.ttf) format('truetype');
}
p:hover {
    background-color: #9e5705;
    color: #F5F5F5;
}